<a href="https://colab.research.google.com/github/khadijakatanani/Data-Science-2023-Summer-Term/blob/Weekly-Materials/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas DataFrames**

## **Creating**

In [ ]:
# Import the pandas package as an object called 'pd'
import pandas as pd

# Create a dictionary of lists where each key represents a column label and the list represents the cell values in each row of the column
HeartRates = {'participant': ['p1', 'p2', 'p3', 'p4'], 'hr1': [98.1, 78, 65, 64], 'hr2': [110, 120, 129, 141], 'hr3': [76, 87, 77, 59]}
df = pd.DataFrame(HeartRates) # Cast dictionary into dataframe using the pandas package

In [ ]:
print(df)

  participant   hr1  hr2  hr3
0          p1  98.1  110   76
1          p2  78.0  120   87
2          p3  65.0  129   77
3          p4  64.0  141   59

In [ ]:
df

  participant   hr1  hr2  hr3
0          p1  98.1  110   76
1          p2  78.0  120   87
2          p3  65.0  129   77
3          p4  64.0  141   59

In [ ]:
df
print(df)

  participant   hr1  hr2  hr3
0          p1  98.1  110   76
1          p2  78.0  120   87
2          p3  65.0  129   77
3          p4  64.0  141   59

In [ ]:
print(df.index)
print('\n')
print(df.columns)
print('\n')
print(df.dtypes)

RangeIndex(start=0, stop=4, step=1)


Index(['participant', 'hr1', 'hr2', 'hr3'], dtype='object')


participant     object
hr1            float64
hr2              int64
hr3              int64
dtype: object

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['participant', 'hr1', 'hr2', 'hr3'])
df.set_index('participant', inplace=True)
df

Empty DataFrame
Columns: [hr1, hr2, hr3]
Index: []

In [ ]:
# Option 1:
# Data in list of lists (i.e. lists of rows)
# Column labels declared separately
# Set index in the constructor
import pandas as pd
df = pd.DataFrame(data=[[98.1, 110, 76], [78, 120, 87], [65, 129, 77], [64, 141, 59]], index=['p1', 'p2', 'p3', 'p4'], columns=['hr1', 'hr2', 'hr3'])
df

     hr1  hr2  hr3
p1  98.1  110   76
p2  78.0  120   87
p3  65.0  129   77
p4  64.0  141   59

In [ ]:
# Option 2:
# Data in list of lists including row index labels
# Set index after the constructor
import pandas as pd
df = pd.DataFrame(data=[['p1', 98.1, 110, 76], ['p2', 78, 120, 87], ['p3', 65, 129, 77], ['p4', 64, 141, 59]], columns=['participant', 'hr1', 'hr2', 'hr3'])
df.set_index('participant', inplace=True)
df

              hr1  hr2  hr3
participant
p1           98.1  110   76
p2           78.0  120   87
p3           65.0  129   77
p4           64.0  141   59

In [ ]:
# Option 3:
# Inputting data in dictionary form allows a column format with labels
# Set index in the constructor and optionally specify a column label for the row index
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
df.index.names = ['participant'] # This is optional if you don't care if there's a name for your row index
df

              hr1  hr2  hr3
participant
p1           98.1  110   76
p2           78.0  120   87
p3           65.0  129   77
p4           64.0  141   59

## **Reading**

### **Columns**

In [ ]:
# Example with labeled row index
import pandas as pd
df = pd.DataFrame(data=[['p1', 98.1, 110, 76], ['p2', 78, 120, 87], ['p3', 65, 129, 77], ['p4', 64, 141, 59]], columns=['participant', 'hr1', 'hr2', 'hr3'])

print(df['hr3'])
print('\n')

# Example without labeled row index
df = pd.DataFrame(data=[['p1', 98.1, 110, 76], ['p2', 78, 120, 87], ['p3', 65, 129, 77], ['p4', 64, 141, 59]], columns=['participant', 'hr1', 'hr2', 'hr3'])
df.set_index('participant', inplace=True) # Option 2a from prior example

print(df['hr3'])

0    76
1    87
2    77
3    59
Name: hr3, dtype: int64


participant
p1    76
p2    87
p3    77
p4    59
Name: hr3, dtype: int64

### **Rows**

In [ ]:
# Read a row by RangeIndex
df.iloc[3]

# Read a row by (labeled) Index
df.loc['p4']

hr1     64.0
hr2    141.0
hr3     59.0
Name: p4, dtype: float64

### **Cells**

In [ ]:
# Return the cell value of the 4th row (index 3 of the rows) and the 3rd column (index 2 of the columns)
df.iloc[3, 2]         # Numeric range indexes for iloc
df.loc['p4', 'hr3']   # Labeled text indexes for loc

59

In [ ]:
df.iloc[:, 2]       # The ':' character means return all row values of the 3rd column (index 2 of the columns)
df.loc[:, 'hr3']
df

              hr1  hr2  hr3
participant
p1           98.1  110   76
p2           78.0  120   87
p3           65.0  129   77
p4           64.0  141   59

In [ ]:
df.iat[3, 2]        # Numeric range indexes for iat
df.at['p4', 'hr3']  # Labeled text indexes for at

59

### **Indexes**

In [ ]:
# Option 1: Cast the DataFrame to a Python list which will only keep the column labels
columns = list(df)
columns

['hr1', 'hr2', 'hr3']

In [ ]:
# Option 2: Use built-in Pandas DataFrame.columns method
columns = df.columns
columns

# Output:
# ['hr1', 'hr2', 'hr3']

Index(['hr1', 'hr2', 'hr3'], dtype='object')

In [ ]:
rows = df.index
rows

Index(['p1', 'p2', 'p3', 'p4'], dtype='object', name='participant')

In [ ]:
# Loop through the column labels; print them out
for col in columns:
  print(col)

hr1
hr2
hr3

In [ ]:
# Loop through the column labels: use them to refer to the DataFrame ('df')
for col in df:
  print("Column: " + str(col) + "\n" + str(df[col]) + "\n")

Column: hr1
participant
p1    98.1
p2    78.0
p3    65.0
p4    64.0
Name: hr1, dtype: float64

Column: hr2
participant
p1    110
p2    120
p3    129
p4    141
Name: hr2, dtype: int64

Column: hr3
participant
p1    76
p2    87
p3    77
p4    59
Name: hr3, dtype: int64

## **Modifying**

### **Add Rows**

In [ ]:
import pandas as pd
df = pd.DataFrame(columns=['participant', 'hr1', 'hr2', 'hr3'])
df.set_index('participant', inplace=True)

p1_list = [98.1, 110, 76]
p2_list = [78.0, 120, 87]
p3_list = [65.0, 129, 77]
p4_list = [64.0, 141, 59]

df.loc['p1'] = p1_list
df.loc['p2'] = p2_list
df.loc['p3'] = p3_list
df.loc['p4'] = p4_list

# ...or, add the lists directly like so:

df.loc['p1'] = [98.1, 110, 76]
df.loc['p2'] = [78.0, 120, 87]
df.loc['p3'] = [65.0, 129, 77]
df.loc['p4'] = [64.0, 141, 59]

df

              hr1    hr2   hr3
participant
p1           98.1  110.0  76.0
p2           78.0  120.0  87.0
p3           65.0  129.0  77.0
p4           64.0  141.0  59.0

In [ ]:
import pandas as pd
df = pd.DataFrame(index=[0, 1, 2, 3], columns=['participant', 'hr1', 'hr2', 'hr3'])
df.set_index('participant', inplace=True)

df.iloc[0] = [98.1, 110, 76]
df.iloc[1] = [78.0, 120, 87]
df.iloc[2] = [65.0, 129, 77]
df.iloc[3] = [64.0, 141, 59]

df

/usr/local/lib/python3.9/dist-packages/pandas/core/indexes/base.py:6999: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

              hr1  hr2 hr3
participant
NaN          98.1  110  76
NaN          78.0  120  87
NaN          65.0  129  77
NaN          64.0  141  59

In [ ]:
import pandas as pd
df = pd.DataFrame(index=range(4), columns=['participant', 'hr1', 'hr2', 'hr3'])

df.iloc[0] = ['p1', 98.1, 110, 76]
df.iloc[1] = ['p2', 78.0, 120, 87]
df.iloc[2] = ['p3', 65.0, 129, 77]
df.iloc[3] = ['p4', 64.0, 141, 59]

df.set_index('participant', inplace=True)

df

              hr1  hr2 hr3
participant
p1           98.1  110  76
p2           78.0  120  87
p3           65.0  129  77
p4           64.0  141  59

### **Add Columns**

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

# These are native python lists
hr4 = [81, 84, 75, 64]
age = [25, 49, 51, 18]

df['hr4'] = hr4             # Add to the end of the columns
df.insert(0, 'Age', age)    # Insert into location (location, column name, value list)
df

    Age   hr1  hr2  hr3  hr4
p1   25  98.1  110   76   81
p2   49  78.0  120   87   84
p3   51  65.0  129   77   75
p4   18  64.0  141   59   64

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

# This is a Pandas Series; notice there are five records instead of four
age = pd.Series([25, 49, 51, 18, 36], name='Age', index=['p1', 'p2', 'p3', 'p4', 'p5'])

# This is a Pandas DataFrame; notice the index is in a different sort order
df2 = pd.DataFrame({'hr4':[81, 84, 75, 64, 72, 73], 'hr5':[88, 92, 79, 67, 80, 74]}, index=['p4', 'p1', 'p3', 'p5', 'p2', 'p6'])

df = df.join(age, how='outer')    # Series and DataFrames need to be added to a new
df = df.join(df2, how='inner')    # version of the DataFrame--even if it's the same name
df

     hr1    hr2   hr3  Age  hr4  hr5
p1  98.1  110.0  76.0   25   84   92
p2  78.0  120.0  87.0   49   72   80
p3  65.0  129.0  77.0   51   75   79
p4  64.0  141.0  59.0   18   81   88
p5   NaN    NaN   NaN   36   64   67

In [ ]:
import pandas as pd
hr_df = pd.DataFrame({'hr':[98.1, 78, 65, 64, 76, 87, 77, 59], 'participant':['p1', 'p2', 'p3', 'p4', 'p5', 'p2', 'p3', 'p4']})
age_df = pd.DataFrame({'age':[25, 49, 51, 18, 36], 'gender':['m', 'f', 'f', 'm', 'f'], 'participant':['p1', 'p2', 'p3', 'p4', 'p5']})

print(hr_df)
print(age_df)
age_df.merge(hr_df)

     hr participant
0  98.1          p1
1  78.0          p2
2  65.0          p3
3  64.0          p4
4  76.0          p5
5  87.0          p2
6  77.0          p3
7  59.0          p4
   age gender participant
0   25      m          p1
1   49      f          p2
2   51      f          p3
3   18      m          p4
4   36      f          p5

   age gender participant    hr
0   25      m          p1  98.1
1   49      f          p2  78.0
2   49      f          p2  87.0
3   51      f          p3  65.0
4   51      f          p3  77.0
5   18      m          p4  64.0
6   18      m          p4  59.0
7   36      f          p5  76.0

### **Edit/Update**

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df.loc['p1'] = [99, 111, 77]  # This changes the top record to these values
df.iloc[0] = [99, 111, 77]    # This changes the top record to these values
df

     hr1  hr2  hr3
p1  99.0  111   77
p2  78.0  120   87
p3  65.0  129   77
p4  64.0  141   59

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df['hr1'] = [99.1, 78.4, 76.6, 63.9]      # This changes the first column to these values
df.iloc[:, 0] = [99.1, 78.4, 76.6, 63.9]  # This changes the first column to these values
df

     hr1  hr2  hr3
p1  99.1  110   76
p2  78.4  120   87
p3  76.6  129   77
p4  63.9  141   59

In [ ]:
df.at['p1', 'hr1'] = 99   # This changes 99.1 to 99.0
df.iat[1, 0] = 78         # This changes 78.4 to 78.0
df

     hr1  hr2  hr3
p1  99.0  110   76
p2  78.0  120   87
p3  76.6  129   77
p4  63.9  141   59

### **Delete**

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df.drop(['p1', 'p3'], axis=0, inplace=True) # Works for one or more rows based on label index
df.drop(['hr1'], axis=1, inplace=True)      # Works for one or more columns based on label index
df

    hr2  hr3
p2  120   87
p4  141   59

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df.drop(df.index[[2]], inplace=True)            # Remember that .index refers to a list of row labeled indexes, but we are referring to it by number because .index returns a list
df.drop(df.columns[[1]], axis=1, inplace=True)  # Similarly, columns returns a list of columns which we can refer to by the list index number
df

     hr1  hr3
p1  98.1   76
p2  78.0   87
p4  64.0   59

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df.drop(df.index[[1, 2]], inplace=True)
df

     hr1  hr2  hr3
p1  98.1  110   76
p4  64.0  141   59

In [ ]:
import pandas as pd
df = pd.DataFrame({'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df.drop(df.index[[-2]], inplace=True) # Using a negative index indicates that we start from the end of the list and move forward (not zero-based)
df

     hr1  hr2  hr3
p1  98.1  110   76
p2  78.0  120   87
p4  64.0  141   59

## **Filtering**

### **By Row**

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
filtered_df = df[df.age > 30] # This conditional is evaluated as True or False for each record
filtered_df

    age  gender   hr1  hr2  hr3
p2   55  female  78.0  120   87
p3   65    male  65.0  129   77

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
filtered_df = df[df.gender == 'female']
filtered_df

    age  gender   hr1  hr2  hr3
p2   55  female  78.0  120   87
p4   18  female  64.0  141   59

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
filtered_df = df[(df.gender == 'female') & (df.age > 30)]
filtered_df

    age  gender   hr1  hr2  hr3
p2   55  female  78.0  120   87

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
filtered_df = df[(df.hr1 > 90) | (df.hr3 > 90)]
filtered_df

    age gender   hr1  hr2  hr3
p1   29   male  98.1  110   76

### **By Column**

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
filtered_df = df[['age', 'gender']]  # Notice that we need an extra set of brackets '[]' which indicates we're inputting a list
filtered_df

    age  gender
p1   29    male
p2   55  female
p3   65    male
p4   18  female

### **DataFrame.filter()**

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
filtered_df = df.filter(like='hr', axis=1) # filter based on column labels that include 'hr'
filtered_df

     hr1  hr2  hr3
p1  98.1  110   76
p2  78.0  120   87
p3  65.0  129   77
p4  64.0  141   59

## **Sorting**

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
df.sort_index(ascending=False, inplace=True)
df

    age  gender   hr1  hr2  hr3
p4   18  female  64.0  141   59
p3   65    male  65.0  129   77
p2   55  female  78.0  120   87
p1   29    male  98.1  110   76

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
df.sort_index(ascending=False, inplace=True, axis=1)
df

    hr3  hr2   hr1  gender  age
p1   76  110  98.1    male   29
p2   87  120  78.0  female   55
p3   77  129  65.0    male   65
p4   59  141  64.0  female   18

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
df.sort_values(by=['age'], inplace=True)
df

    age  gender   hr1  hr2  hr3
p4   18  female  64.0  141   59
p1   29    male  98.1  110   76
p2   55  female  78.0  120   87
p3   65    male  65.0  129   77

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])
df.sort_values(by=['gender', 'age'], inplace=True)
df

    age  gender   hr1  hr2  hr3
p4   18  female  64.0  141   59
p2   55  female  78.0  120   87
p1   29    male  98.1  110   76
p3   65    male  65.0  129   77

# **Iterating**

## **Columns**

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

for x in df:
  print(x)

age
gender
hr1
hr2
hr3

In [ ]:
for col in df:
  print(df[col])  # Print the column of data including row indeces
  print()         # Print a line break between each one for readability

p1    29
p2    55
p3    65
p4    18
Name: age, dtype: int64

p1      male
p2    female
p3      male
p4    female
Name: gender, dtype: object

p1    98.1
p2    78.0
p3    65.0
p4    64.0
Name: hr1, dtype: float64

p1    110
p2    120
p3    129
p4    141
Name: hr2, dtype: int64

p1    76
p2    87
p3    77
p4    59
Name: hr3, dtype: int64

In [ ]:
print(df["age"])
print(df["gender"])
print(df["hr1"])
print(df["hr2"])
print(df["hr3"])

p1    29
p2    55
p3    65
p4    18
Name: age, dtype: int64
p1      male
p2    female
p3      male
p4    female
Name: gender, dtype: object
p1    98.1
p2    78.0
p3    65.0
p4    64.0
Name: hr1, dtype: float64
p1    110
p2    120
p3    129
p4    141
Name: hr2, dtype: int64
p1    76
p2    87
p3    77
p4    59
Name: hr3, dtype: int64

## **Rows**

In [ ]:
for row in df.itertuples():
  print(row)

Pandas(Index='p1', age=29, gender='male', hr1=98.1, hr2=110, hr3=76)
Pandas(Index='p2', age=55, gender='female', hr1=78.0, hr2=120, hr3=87)
Pandas(Index='p3', age=65, gender='male', hr1=65.0, hr2=129, hr3=77)
Pandas(Index='p4', age=18, gender='female', hr1=64.0, hr2=141, hr3=59)

In [ ]:
for row in df.itertuples():
  print(row[0], '\t', end='')  # end='' simply removes the line break at the end of a print() statement
  print(row[1], '\t', end='')
  print(row[2], '\t', end='')
  print(row[3], '\t', end='')
  print(row[4])

p1 	29 	male 	98.1 	110
p2 	55 	female 	78.0 	120
p3 	65 	male 	65.0 	129
p4 	18 	female 	64.0 	141

In [ ]:
for row in df.itertuples():
  row[0] = 'p5'

TypeError: ignored

In [ ]:
for row in df.iterrows():
  print(row)
  print()

('p1', age         29
gender    male
hr1       98.1
hr2        110
hr3         76
Name: p1, dtype: object)

('p2', age           55
gender    female
hr1         78.0
hr2          120
hr3           87
Name: p2, dtype: object)

('p3', age         65
gender    male
hr1       65.0
hr2        129
hr3         77
Name: p3, dtype: object)

('p4', age           18
gender    female
hr1         64.0
hr2          141
hr3           59
Name: p4, dtype: object)

In [ ]:
for row in df.iterrows():
  print(row[0])
  print(row[1])
  print()

p1
age         29
gender    male
hr1       98.1
hr2        110
hr3         76
Name: p1, dtype: object

p2
age           55
gender    female
hr1         78.0
hr2          120
hr3           87
Name: p2, dtype: object

p3
age         65
gender    male
hr1       65.0
hr2        129
hr3         77
Name: p3, dtype: object

p4
age           18
gender    female
hr1         64.0
hr2          141
hr3           59
Name: p4, dtype: object

In [ ]:
for row in df.iterrows():
  print(row[1][0], '\t', end='')
  print(row[1][1], '\t', end='')
  print(row[1][2], '\t', end='')
  print(row[1][3], '\t', end='')
  print(row[1][4])

29 	male 	98.1 	110 	76
55 	female 	78.0 	120 	87
65 	male 	65.0 	129 	77
18 	female 	64.0 	141 	59

In [ ]:
def itertuples(df): # Place the itertuples in a function that we can call using %timeit to speed test
  row_var = []
  for row in df.itertuples():
    continue

def iterrows(df): # Same with iterrows
  row_var = []
  for row in df.iterrows():
    continue

%timeit itertuples(df)
%timeit iterrows(df)

364 µs ± 14.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
248 µs ± 12.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

## **Cells**

In [ ]:
for key, values in df.iteritems():
  print(key)
  print(values)
  print()

age
p1    29
p2    55
p3    65
p4    18
Name: age, dtype: int64

gender
p1      male
p2    female
p3      male
p4    female
Name: gender, dtype: object

hr1
p1    98.1
p2    78.0
p3    65.0
p4    64.0
Name: hr1, dtype: float64

hr2
p1    110
p2    120
p3    129
p4    141
Name: hr2, dtype: int64

hr3
p1    76
p2    87
p3    77
p4    59
Name: hr3, dtype: int64

In [ ]:
for key, values in df.iteritems():
  for value in values:
    print(value, end='') # print out each value without a line break
    if pd.api.types.is_number(value):
      print('\tnumeric', end='') # label numeric values without a line break
      if value >= 80:
        print('\tflagged') # flag the value if it's over a threshold
      else:
        print() # add the line break for those not over the threshold
    else:
      print() # add the line break for those that are not numeric

29	numeric
55	numeric
65	numeric
18	numeric
male
female
male
female
98.1	numeric	flagged
78.0	numeric
65.0	numeric
64.0	numeric
110	numeric	flagged
120	numeric	flagged
129	numeric	flagged
141	numeric	flagged
76	numeric
87	numeric	flagged
77	numeric
59	numeric

# **Updating DataFrames**

## **Column level operations and functions**

In [ ]:
import pandas as pd
df = pd.DataFrame({'age':[29, 55, 65, 18], 'gender':['male', 'female', 'male', 'female'], 'hr1':[98.1, 78, 65, 64], 'hr2':[110, 120, 129, 141], 'hr3':[76, 87, 77, 59]}, index=['p1', 'p2', 'p3', 'p4'])

df['hr_mean'] = (df['hr1'] + df['hr2'] + df['hr3']) / 3

df

    age  gender   hr1  hr2  hr3    hr_mean
p1   29    male  98.1  110   76  94.700000
p2   55  female  78.0  120   87  95.000000
p3   65    male  65.0  129   77  90.333333
p4   18  female  64.0  141   59  88.000000

In [ ]:
df['age_sqrt'] = df['age']**(1/2)
df

    age  gender   hr1  hr2  hr3    hr_mean  age_sqrt
p1   29    male  98.1  110   76  94.700000  5.385165
p2   55  female  78.0  120   87  95.000000  7.416198
p3   65    male  65.0  129   77  90.333333  8.062258
p4   18  female  64.0  141   59  88.000000  4.242641

In [ ]:
import numpy as np

print(df['hr1'].skew())
print((df['hr1']**(1/2)).skew())
print((df['hr1']**(1/3)).skew())
print(np.log(df['hr1']).skew())

df['hr1_ln'] = np.log(df['hr1'])
df

1.183647262060071
1.095475282166147
1.0657163814570545
1.005928426738866

    age  gender   hr1  hr2  hr3    hr_mean  age_sqrt    hr1_ln
p1   29    male  98.1  110   76  94.700000  5.385165  4.585987
p2   55  female  78.0  120   87  95.000000  7.416198  4.356709
p3   65    male  65.0  129   77  90.333333  8.062258  4.174387
p4   18  female  64.0  141   59  88.000000  4.242641  4.158883

## **Relabel values**

In [ ]:
for row in df.itertuples():
  if row[2] == 'female':
    print(0)
  else:
    print(1)

1
0
1
0

In [ ]:
df_new = df.copy()

for row in df_new.itertuples():
  if row[2] == 'female':
    df_new.loc[row[0], 'gender'] = 0
    # ...or...
    df_new.at[row[0], 'gender'] = 0
  else:
    df_new.loc[row[0], 'gender'] = 1
    # ...or...
    df_new.at[row[0], 'gender'] = 1

df_new

    age gender   hr1  hr2  hr3    hr_mean  age_sqrt    hr1_ln
p1   29      1  98.1  110   76  94.700000  5.385165  4.585987
p2   55      0  78.0  120   87  95.000000  7.416198  4.356709
p3   65      1  65.0  129   77  90.333333  8.062258  4.174387
p4   18      0  64.0  141   59  88.000000  4.242641  4.158883

In [ ]:
for i, row in enumerate(df.itertuples()):
  if row[2] == 'female':
    print(i, 0)
  else:
    print(i, 1)

0 1
1 0
2 1
3 0

In [ ]:
df_new = df.copy()

for i, row in enumerate(df_new.itertuples()):
  if row[2] == 'female':
    df_new.iloc[i, 1] = 0  # 1 refers to the numeric column index of gender (not including the row index column)
    # ...or...
    df_new.iat[i, 1] = 0
  else:
    df_new.iloc[i, 1] = 1
    # ...or...
    df_new.iat[i, 1] = 1
df_new

    age gender   hr1  hr2  hr3    hr_mean  age_sqrt    hr1_ln
p1   29      1  98.1  110   76  94.700000  5.385165  4.585987
p2   55      0  78.0  120   87  95.000000  7.416198  4.356709
p3   65      1  65.0  129   77  90.333333  8.062258  4.174387
p4   18      0  64.0  141   59  88.000000  4.242641  4.158883

In [ ]:
df_new = df.copy()

df_new.loc[df_new['gender'] == 'female', 'gender'] = 0
df_new.loc[df_new['gender'] == 'male', 'gender'] = 1

df_new

,age,gender,hr1,hr2,hr3,hr_mean,age_sqrt,hr1_ln,signup_date,complete_date
p1,29,1,98.1,110,76,94.700000,5.385165,4.585987,02/14/2019,02/27/2020
p2,55,0,78.0,120,87,95.000000,7.416198,4.356709,01/05/2018,10/22/2020
p3,65,1,65.0,129,77,90.333333,8.062258,4.174387,05/23/2020,09/11/2021
p4,18,0,64.0,141,59,88.000000,4.242641,4.158883,12/10/2019,07/05/2022

In [ ]:
df_new.dtypes

age                int64
gender            object
hr1              float64
hr2                int64
hr3                int64
hr_mean          float64
age_sqrt         float64
hr1_ln           float64
signup_date       object
complete_date     object
dtype: object

In [ ]:
df_new['gender'] = df_new['gender'].astype('int64')

df_new.dtypes

age                int64
gender             int64
hr1              float64
hr2                int64
hr3                int64
hr_mean          float64
age_sqrt         float64
hr1_ln           float64
signup_date       object
complete_date     object
dtype: object

## Working with Dates

In [ ]:
df['signup_date'] = ['02/14/2019', '01/05/2018', '05/23/2020', '12/10/2019']
df['complete_date'] = ['02/27/2020', '10/22/2020', '09/11/2021', '07/05/2022']

# This date format works the same
# df['signup_date'] = ['02-14-2019', '01-05-2018', '05-23-2020', '12-10-2019']
# df['complete_date'] = ['02-27-2020', '10-22-2020', '09-11-2021', '07-05-2022']

df

,age,gender,hr1,hr2,hr3,hr_mean,age_sqrt,hr1_ln,signup_date,complete_date
p1,29,male,98.1,110,76,94.700000,5.385165,4.585987,02/14/2019,02/27/2020
p2,55,female,78.0,120,87,95.000000,7.416198,4.356709,01/05/2018,10/22/2020
p3,65,male,65.0,129,77,90.333333,8.062258,4.174387,05/23/2020,09/11/2021
p4,18,female,64.0,141,59,88.000000,4.242641,4.158883,12/10/2019,07/05/2022

In [ ]:
df.dtypes

age                int64
gender            object
hr1              float64
hr2                int64
hr3                int64
hr_mean          float64
age_sqrt         float64
hr1_ln           float64
signup_date       object
complete_date     object
dtype: object

In [ ]:
df['signup_date'] = pd.to_datetime(df['signup_date']).dt.date
df['complete_date'] = pd.to_datetime(df['complete_date']).dt.date
df.dtypes

age                int64
gender            object
hr1              float64
hr2                int64
hr3                int64
hr_mean          float64
age_sqrt         float64
hr1_ln           float64
signup_date       object
complete_date     object
dtype: object

In [ ]:
df

,age,gender,hr1,hr2,hr3,hr_mean,age_sqrt,hr1_ln,signup_date,complete_date
p1,29,male,98.1,110,76,94.700000,5.385165,4.585987,2019-02-14,2020-02-27
p2,55,female,78.0,120,87,95.000000,7.416198,4.356709,2018-01-05,2020-10-22
p3,65,male,65.0,129,77,90.333333,8.062258,4.174387,2020-05-23,2021-09-11
p4,18,female,64.0,141,59,88.000000,4.242641,4.158883,2019-12-10,2022-07-05

In [ ]:
from datetime import datetime as dt

df['days_since_signup'] = (dt.strptime("2023-1-1", '%Y-%m-%d').date() - df['signup_date']).dt.days
df['days_since_signup'] = df['days_since_signup'].astype(int)
df

,age,gender,hr1,hr2,hr3,hr_mean,age_sqrt,hr1_ln,signup_date,complete_date,days_since_signup
p1,29,male,98.1,110,76,94.700000,5.385165,4.585987,2019-02-14,2020-02-27,1417
p2,55,female,78.0,120,87,95.000000,7.416198,4.356709,2018-01-05,2020-10-22,1822
p3,65,male,65.0,129,77,90.333333,8.062258,4.174387,2020-05-23,2021-09-11,953
p4,18,female,64.0,141,59,88.000000,4.242641,4.158883,2019-12-10,2022-07-05,1118

In [ ]:
df['days_to_completion'] = (df['complete_date'] - df['signup_date']).dt.days
df['days_to_completion'] = df['days_to_completion'].astype(int)
df

,age,gender,hr1,hr2,hr3,hr_mean,age_sqrt,hr1_ln,signup_date,complete_date,days_since_signup,days_to_completion
p1,29,male,98.1,110,76,94.700000,5.385165,4.585987,2019-02-14,2020-02-27,1417,378
p2,55,female,78.0,120,87,95.000000,7.416198,4.356709,2018-01-05,2020-10-22,1822,1021
p3,65,male,65.0,129,77,90.333333,8.062258,4.174387,2020-05-23,2021-09-11,953,476
p4,18,female,64.0,141,59,88.000000,4.242641,4.158883,2019-12-10,2022-07-05,1118,938

In [ ]:
df['years'] = df['days_to_completion']/365
df['weeks'] = df['days_to_completion']/7
df['months'] = df['days_to_completion']/(365/12)
df

,age,gender,hr1,hr2,hr3,hr_mean,age_sqrt,hr1_ln,signup_date,complete_date,days_since_signup,days_to_completion,years,weeks,months
p1,29,male,98.1,110,76,94.700000,5.385165,4.585987,2019-02-14,2020-02-27,1417,378,1.035616,54.000000,12.427397
p2,55,female,78.0,120,87,95.000000,7.416198,4.356709,2018-01-05,2020-10-22,1822,1021,2.797260,145.857143,33.567123
p3,65,male,65.0,129,77,90.333333,8.062258,4.174387,2020-05-23,2021-09-11,953,476,1.304110,68.000000,15.649315
p4,18,female,64.0,141,59,88.000000,4.242641,4.158883,2019-12-10,2022-07-05,1118,938,2.569863,134.000000,30.838356

# **Practice Problems**

## Practice 1: Favorites

Import the pandas library and create a new dataframe called "df". The new dataframe should have 3 columns called Names, Favorite Food, and Favorite Drink. Add 3 records(people) to the dataframe.

In [ ]:
# Import the pandas package
import pandas as pd

# Create a dictionary of lists where each key represents a column label and the list represents the cell values in each row of the column
dictionary1 = {'Name': ['Skyler', 'Josh', 'Elise'], 'Favorite Food': ['Pancakes', 'Steak', 'Tacos'], 'Favorite Drink': ['Mountain Dew', 'Water', 'Dr Pepper']}
df = pd.DataFrame(dictionary1) # Cast dictionary into dataframe using the pandas package
print(df)

     Name Favorite Food Favorite Drink
0  Skyler      Pancakes   Mountain Dew
1    Josh         Steak          Water
2   Elise         Tacos      Dr Pepper

Add a new column called Age to the previous dataframe. Do this by creating a new list with the new age values, and add that list to the dataframe under the name "Age". Then create a new DataFrame based off the one from problem 2 that only includes the names column, and the age column by filtering out the other columns.

In [ ]:
#Add a new list for the new column
age = [21,19,23]
#add to the end of the columns
df['Age'] = age
print(df)

#Filtering out the columns and creating a new dataframe in one step!
filtered_df = df[['Name', 'Age']]
print(filtered_df)

     Name Favorite Food Favorite Drink  Age
0  Skyler      Pancakes   Mountain Dew   21
1    Josh         Steak          Water   19
2   Elise         Tacos      Dr Pepper   23
     Name  Age
0  Skyler   21
1    Josh   19
2   Elise   23

Next we're going to want to test the age of each person in the DataFrame to see if they were born before the year 2000. For simplicity, we're going to assume that anyone age 20 or under was born in 2000 or later and anyone older than 20 was born before 2000. We also want this to work regardless of the number of people in the DataFrame, in other words, we're going to want to lose a loop. We then will create a new column to state whether or not they were born before the year 2000.

In [ ]:
AgeList = list(filtered_df['Age'])
List2000 = []
for x in AgeList:
  if x > 20:
    Year = 'Yes'
  else:
    Year = 'No'
  List2000.append(Year)
filtered_df['After 2000?'] = List2000
print(filtered_df)

     Name  Age After 2000?
0  Skyler   21         Yes
1    Josh   19          No
2   Elise   23         Yes

<ipython-input-126-6c7cda7de675>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['After 2000?'] = List2000

## Practice 2: Movie Streaming

You are creating a business to compete with Netflix, and just acquired your first 5 movies. Create a dataframe to store your collection of movies including information like: Movie Name, Rating, Run Time, and the mainGenere(s) using the dataset below. In addition, set the movie name as the index.

```
[['Remember the Titans','PG',113, 'Sport'], ['Forrest Gump', 'PG-13', 142,'Drama'], ['Inception','PG-13',148,'Sci-Fi'], ['The Proposal','PG-13',108,'Romance'], ['Dumb &amp; Dumber','PG-13',108,'Comedy']]
```

In [ ]:
import pandas as pd
df=pd.DataFrame(columns=["movieName","rated","runTime", "mainGenre(s)"],
                data=[['Remember the Titans','PG',113, 'Sport'],
                      ['Forrest Gump', 'PG-13', 142,'Drama'],
                      ['Inception','PG-13',148,'Sci-Fi'],
                      ['The Proposal','PG-13',108,'Romance'],
                      ['Dumb & Dumber','PG-13',108,'Comedy']])
df.set_index("movieName", inplace=True)
df

                     rated  runTime mainGenre(s)
movieName
Remember the Titans     PG      113        Sport
Forrest Gump         PG-13      142        Drama
Inception            PG-13      148       Sci-Fi
The Proposal         PG-13      108      Romance
Dumb & Dumber        PG-13      108       Comedy

Your customers are demanding a way for them to sort by year released. Add a column named "Year" using the data below:

```
Remember the Titans: 2005
Forrest Gump: 1994
Inception: 2010
The Proposal: 2009
Dumb & Dumber: 1994
```

In [ ]:
df.insert(3,'Year',0)

df.at['Remember the Titans','Year']=2005
df.at['Forrest Gump','Year']=1994
df.at['Inception','Year']=2010
df.at['The Proposal','Year']=2009
df.at['Dumb & Dumber','Year']=1994
df

                     rated  runTime mainGenre(s)  Year
movieName
Remember the Titans     PG      113        Sport  2005
Forrest Gump         PG-13      142        Drama  1994
Inception            PG-13      148       Sci-Fi  2010
The Proposal         PG-13      108      Romance  2009
Dumb & Dumber        PG-13      108       Comedy  1994

Warner Bros pictures just released a statement pulling their movies off of streaming platforms. Remove Inception from the movie library.

In [ ]:
df.drop(['Inception'], inplace=True)
df

                     rated  runTime mainGenre(s)  Year
movieName
Remember the Titans     PG      113        Sport  2005
Forrest Gump         PG-13      142        Drama  1994
The Proposal         PG-13      108      Romance  2009
Dumb & Dumber        PG-13      108       Comedy  1994

As you create access to your service, customers need to know what generes are available. Print a list of the main genre for each movie.

In [ ]:
df['mainGenre(s)']

movieName
Remember the Titans      Sport
Forrest Gump             Drama
The Proposal           Romance
Dumb & Dumber           Comedy
Name: mainGenre(s), dtype: object

You have an option to merge your movie network with another company. The problem is, they only support movies shorter than 2 hours. Make a list of all movies longer than 2 hours that will need to be removed.

In [ ]:
df[df.runTime>120]

              rated  runTime mainGenre(s)  Year
movieName
Forrest Gump  PG-13      142        Drama  1994

In [ ]:
#To help make your movies available in the best order for the customers, sort by runTime.
#If 2 rows have the same runTime, then sort those by the year released
df.sort_values(by=['runTime','Year'],inplace=True)
df

                     rated  runTime mainGenre(s)  Year
movieName
Dumb & Dumber        PG-13      108       Comedy  1994
The Proposal         PG-13      108      Romance  2009
Remember the Titans     PG      113        Sport  2005
Forrest Gump         PG-13      142        Drama  1994

## Advanced Practice 1: Mental Health

In [ ]:
# Don't forget to mount Google Drive if needed:
# from google.colab import drive
# drive.mount('/content/drive')

import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/student_mental_health.csv')
print(df.Age.mean())
df['Age'] = df['Age'] + 1
print(df.Age.mean())

20.53
21.53

## Advanced Practice 2: Relabel Values

In [ ]:
df.loc[df['MaritalStatus'] == 'No', 'MaritalStatus'] = 0
df.loc[df['MaritalStatus'] == 'Yes', 'MaritalStatus'] = 1
df.loc[df['Depression'] == 'No', 'Depression'] = 0
df.loc[df['Depression'] == 'Yes', 'Depression'] = 1
df.loc[df['Anxiety'] == 'No', 'Anxiety'] = 0
df.loc[df['Anxiety'] == 'Yes', 'Anxiety'] = 1
df.loc[df['PanicAttack'] == 'No', 'PanicAttack'] = 0
df.loc[df['PanicAttack'] == 'Yes', 'PanicAttack'] = 1
df.head()

,Timestamp,Gender,Age,Course,Year,GPA,MaritalStatus,Depression,Anxiety,PanicAttack,SeekTreatment
0,08/07/2020,Female,19.0,Engineering,year 1,3.00 - 3.49,0,1,0,1,No
1,08/07/2020,Male,22.0,Islamic education,year 2,3.00 - 3.49,0,0,1,0,No
2,08/07/2020,Male,20.0,BIT,Year 1,3.00 - 3.49,0,1,1,1,No
3,08/07/2020,Female,23.0,Laws,year 3,3.00 - 3.49,1,1,0,0,No
4,08/07/2020,Male,24.0,Mathemathics,year 4,3.00 - 3.49,0,0,0,0,No

## Advanced Practice 3: Convert Dates

In [ ]:
from datetime import datetime as dt
df['Timestamp'] = pd.to_datetime(df['Timestamp']).dt.date
df['Timestamp'] = (df['Timestamp'] - dt.strptime("2020-7-10", '%Y-%m-%d').date()).dt.days
df['Timestamp'] = df['Timestamp'].astype(int)
df.head()

,Timestamp,Gender,Age,Course,Year,GPA,MaritalStatus,Depression,Anxiety,PanicAttack,SeekTreatment
0,28,Female,19.0,Engineering,year 1,3.00 - 3.49,0,1,0,1,No
1,28,Male,22.0,Islamic education,year 2,3.00 - 3.49,0,0,1,0,No
2,28,Male,20.0,BIT,Year 1,3.00 - 3.49,0,1,1,1,No
3,28,Female,23.0,Laws,year 3,3.00 - 3.49,1,1,0,0,No
4,28,Male,24.0,Mathemathics,year 4,3.00 - 3.49,0,0,0,0,No

## Advanced Practice 4: Iterating

In [ ]:
for row in df.iterrows():
  if row[1]['Year'] in ['year 1', 'Year 1']:
    if row[1]['PanicAttack'] == 1:
      if row[1]['SeekTreatment'] == "Yes":
        print(row)

(50, Timestamp                 28
Gender                Female
Age                     24.0
Course                   ALA
Year                  year 1
GPA              2.50 - 2.99
MaritalStatus              1
Depression                 1
Anxiety                    0
PanicAttack                1
SeekTreatment            Yes
Name: 50, dtype: object)
(54, Timestamp                 28
Gender                Female
Age                     20.0
Course                   BCS
Year                  year 1
GPA              3.50 - 4.00
MaritalStatus              0
Depression                 1
Anxiety                    0
PanicAttack                1
SeekTreatment            Yes
Name: 54, dtype: object)

# **Checkpoint Example**

---

In [ ]:
# Examine all of the people described in this dataset. Add a column to indicate whether they are tall
# enough to ride the rollercoaster. They must be 4 feet or taller. Here is a dictionary of people to
# evaluate. Create a DataFrame from this dictionary and write your code so that it will still work even
# if we add more people into the dictionary:

# Step 0: Import necessary packages
import pandas as pd

# Step 1: Import (or Create) the Data (Object)
simpsons = {'customer':['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'], 'height':[5.8, 5.7, 4.1, 3.9, 2.0]}
df = pd.DataFrame(simpsons)

# Step 2: Processing
i = 0   # Use this to create a row index location
for height in df.height:
  if height >= 4:
    df.at[i, 'ride'] = 'yes'
  else:
    df.at[i, 'ride'] = 'no'
  i += 1 #

# Step 3: Output
df